/****************************** header ************************************/

// header logo width
.header-global {
  h1.logo {
    img {
      width: 200px;
    }
    //background: red;
  }
}
.home>header {
	
	background-image:url(/static/themes/custom-theme/images/EthiconFinalHeroImage.png) !important;
	//background-size: 100% 100%!important;
	background-color: #333333;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center, left;
}
.home>header .title:last-child {
	
	background-image:url(/static/images/EE_Ethicon_OPENedX_LOCKUP_Final_5252016.png);
	background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;

}
.home>header .title { 
	
	width: 55% !important;
	margin-left: 22.5% !important;

}
/****************************** header ************************************/ 

/****************************** Course Background ************************************/ 
.course-info header.course-profile{
	
	background-image:url(/static/themes/custom-theme/images/EithconRays_062416.png) !important;
	background-color: white !important;
	background-position: center, left;
	padding-top: 75px !important;
	padding-bottom: 75px !important;

}
/****************************** Course Background ************************************/ 

